{{#each posts as |post| }}
<div class="row-flex mb-4 post">
    {{!-- Individual Posts as Cards --}}
    <div class="col-flex card bg-primary">
        <h2>
            <a href="/post/{{post.id}}">{{post.title}}</a>
        </h2>
        <p>
            {{post.contents}}
        </p>
        <p class="date">
            Created by {{post.user.name}} on {{format_date post.date_created}}
        </p>
    </div>
</div>
{{/each}}