<div class="text-center">
    {{!-- Blog Info --}}
    <h1 class="blog-header">{{title}}</h1>
    <p class="blog-p">{{contents}}</p>
    <p class="date">Created by {{user.name}} on {{format_date date_created}}</p>

    {{!-- Delete Button --}}
    {{#if logged_in}}
    <div class="btn-delete col-md-12 p-5 mx-5">
        <button class="btn btn-md btn-danger btn-delete" delete="{{id}}">DELETE</button>
    </div>
    {{/if}}
</div>

{{!-- Comment Block --}}
<div class="col">
    <form class="form comment-form">
        <div class="form-group mt-5">
            <label for="comment">Post a Comment!</label>
            <textarea class="form-input" id="comment" name="comment"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn menu-button">Gab away!</button>
        </div>
    </form>
    {{!-- Rendered Comments --}}
    {{#each comments as |comment|}}
    <div class="col-8 card bg-primary">
        <h4 class="date p-2">{{comment.contents}}</h4>
        <p class="date text-right"> Commented by {{comment.user.name}} on {{format_date comment.date_created}}</p>
    </div>
    {{/each}}
</div>

<script src="/js/comment.js"></script>
<script src="/js/delete.js"></script>